@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,500&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    overflow-x: hidden;
}
html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #FF0004;
}

ul {
    list-style: none;
}

nav {
    width: 100%; 
    padding: 10.5px 0;
    background-color: #1a1a1a;
    border-bottom: 3px solid #FF0004 ;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo img {
    width: 165px;
    margin: 0px 100% 0px;
}
.nav-container {
    max-width: 1440px; 
    display: flex;
    justify-content: center;
    text-align: center;  
    flex-grow: 1;
}

.navegacao {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 55px;
    text-shadow: 1px 1px 2px #161616;

}

.navegacao a:hover {
    text-shadow: 0 0 5px #212121;
    color: #FFF;
    cursor: pointer;
}

.div-button {
    display: flex;
    align-items: center;    
    margin-right: 5%;
}

.button {
    background-color: #FF0004;
    color: #fff;
    border-radius: 15px;
    border: 1px black;
    box-shadow: 2px 3px 4px 1px #161616;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    width: 100px;
    height: 40px;
    padding: 9px 19px;
    gap: 10px; 
}

.button:hover {
    box-shadow: 0 0 5px #FF0004;
    cursor: pointer;
    transform: scale(1.05);
}

.abrir-menu {
    position: absolute;
    top: 10px;
    right: 20px;
}

.abrir-menu .abrir-icon {
    color: #FF0004;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/*menu mobile*/
.menu-mobile {
    background: #1a1a1a;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}


.btn-fechar {
    padding: 20px 5%;
}

.btn-fechar .fechar-icon {
    color: #FF0004;
    font-size: 40px;
}

.menu-mobile .div-ul ul li a {
    color: #FF0004;
    font-size: 24px;
    font-weight: 600;
    padding: 30px 8%;
    display: block;
}

.menu-mobile .div-ul ul li a:hover {
    background: #FF0004;
    color: #1a1a1a;
}

.menu-mobile .div-ul ul {
    text-align: right;
}

.overlay-menu {
    background-color: #1a1a1ab0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.main-header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/computer-4795762_1280\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.main-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(26, 26, 26, 0.3)70%, #1a1a1a);
    pointer-events: none;
    z-index: 1;
}


.main-principal {
    max-width: 1440px;
    position: absolute;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.main-title {
    font-family: Montserrat;
    text-align: center;
}

.main-title > h1 {
    font-size: 48px;
    font-weight: 600;
}

.main-title > h2 {
    font-size: 32px;
    font-weight: 500;
    opacity: 0.5;
    padding: 15px;
}

.main-contact {
    border-radius: 15px;
    border: 1px solid #000;
    background: #FF0004;
    color: #fff;
    box-shadow: 2px 3px 4px 1px #161616;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    height: 40px;
    padding: 9px 19px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
        
}

.main-contact:hover {
    box-shadow: 0 0 5px #FF0004;
    background-color: inherit;
    color: #FF0004;
    cursor: pointer;
}

.main-download {
    border-radius: 15px;
    border: 2px solid #FF0004;
    background: transparent;
    box-shadow: 0px 4px 4px 0px rgb(22, 22, 22, 0.25);
    color: #FF0004;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    height: 40px;
    padding: 9px 19px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;     
}

.main-download:hover {
    box-shadow: 0 0 5px #000000;
    background-color: #FF0004;
    color: #fff;
    cursor: pointer;
}

.about-section > h3 {
    max-width: 1440px;
    color: #FFF;  
    flex-direction: column;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    margin: 100px 10% 0px;
    padding: 0px 16px;
}

.hr-sobre {
    width: 25%;
    margin: 0px 10% 32px; 
}

.about-section > p {
    max-width: 1440px;
    width: 550px;
    color: #FFF;
    text-indent: 20px;
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 10% 0px;
    line-height: 25.6px;
}

.perfil  img {
    max-width: 1440px;
    width: 400px;
    height: 450;
    float: right;
    border-radius: 15px;
    margin: -435px 15% ;
    margin-right: 10%;
    box-shadow: 25px 15px 40px #FF0004;
}

.perfil img {
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
}

@keyframes flutuar {
      0%{
        top: 0;
      }
      100% {
        top: 30px;
      }
}


.hr-sobre  {
    border: 2px solid #FF0004;
    margin-top: 1px;
}

.hr-projects {
   margin-top: 150px;
   border: 2px solid #FF0004;
    
}

.projects-section {
    color: #FF0004;
    text-align: center;
    font-family: inter;
    font-size: 32px;
    font-weight: 500;
    padding: 35px; 
    margin-top: 32px;  
    margin-bottom: 32px;
    text-transform: uppercase;
}

.part1-projects{
    color: #fff;
}

.projects-gallery {
    margin: 32px;        
}
.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    margin-left: 16px;
}

.services-container .services-box {
    padding: 32px 16px 40px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #212121;
    background-color: #212121;
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    border-color: #FF0004;
    transform: scale(1.02);
}

.services-box i {
    font-size: 68.8px;
    color: #FF0004;
}

.services-box h3 {
    font-size: 24px;
}

.services-box p {
    margin: 8px;
    letter-spacing: 1.5px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    display: inline-block;
    padding: 11.2px;
    background-color: #FF0004;
    border-radius: 15px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 5px #FF0004;
    background-color: inherit;
    color: #FF0004;
    cursor: pointer;
}

.hr-form {
    margin-top: 100px;
    border: 2px solid #FF0004;
}

.interface h2 {
    color: #FF0004;
    text-align: center;
    font-family: inter;
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.part1-form {
    color: #FFF;
}

.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    background: #212121;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
}

form input::placeholder {
    color: #FF0004;
}


.div-mensagem textarea{
    resize: none;
    height: 200px;
}

form textarea::placeholder {
    color: #FF0004;
}

.form-buttom {
    width: 100%;
    background: #FF0004;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 3px 4px 1px #161616;
    margin-bottom: 50px;
}

.form-buttom:hover {
    box-shadow: 0 0 5px #FF0004;
    cursor: pointer;
    transform: scale(1.01);
}

footer .footer-interface{
    padding: 40px 4% 20px;
    background: linear-gradient(to bottom, #1a1a1a 60%, #ff0e12d5);
    box-shadow: 0 0 40px 10px #FF0004;
}

.footer-interface{
    margin: 0 auto;
}

.line-footer1{
    border-bottom: 2px solid #FF0004;
}

.line-footer1 p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.line-footer2 {
    border-bottom: 2px solid #FF0004;
    margin-bottom: 20px;
}

.box-line-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-footer img {
    max-width: 165px;
}

.button-links i {
   font-size: 30px;
    margin-left: 45px;
    color: #fff;
}

.button-links i:hover {
    color: #FF0004;
    cursor: pointer;
}

.footer-mail {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-mail i {
    font-size: 20px;
}

.footer-mail a {
    font-size: 16px;
    color: #fff;
}

.copyright {
    background: #161616;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 915px) {
    
    .logo img {
        margin: 0px 0px 0px 30px;
        width: 115px;
                
    }   
}

@media screen and (min-width: 586px) {
    .abrir-menu {
        display: none;
    }

    .navegacao {
        display: flex;
    }
}

@media screen and (max-width: 585px) {
    
    .copyright {
        flex-direction: column;
        height: 60px;
    }

    .main-header {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .nav-container,
    .div-button {
        display: none;
    }

    .abrir-menu {
        display: block;
    }

    .button-links i {
        font-size: 20px;
        margin-left: 30px;
    }
        
}

@media screen and (max-width: 870px) {

    .services-container {
        flex-direction: column;
    }

}

@media (max-width: 1220px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-section .perfil {
        margin-left: 0;
        margin-top: 20px;
    }

    .perfil img {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }
    .about-section p {
        width: 90%;
    }

}